.card-wrapper {
  max-width: 320px;
  min-width: 220px;
}

igx-card {
  height: 200px;
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 1.7fr 0.7fr 1fr;
  grid-template-rows: 1fr 0.9fr 1.1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'Foto Foto Foto Nombre Nombre Nombre'
    'Foto Foto Foto Nombre Nombre Nombre'
    'Foto Foto Foto Descripcion Descripcion Descripcion'
    'Funcionamiento Funcionamiento Funcionamiento Funcionamiento Funcionamiento Funcionamiento'
    'Ordenes Ordenes Incidencias Incidencias Avisos Avisos';
}

.Nombre {
  grid-area: Nombre;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
  padding-top: 0.5em;
}

.Descripcion {
  grid-area: Descripcion;
  font-size: 0.7em;
}

.Funcionamiento {
  grid-area: Funcionamiento;
}
.Funcionamiento div {
  border: 2px solid #009400;
  color: #007700;
  margin: 0.3em 0.5em;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
}

.Foto {
  grid-area: Foto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ordenes {
  grid-area: Ordenes;
}

.Incidencias {
  grid-area: Incidencias;
}

.Avisos {
  grid-area: Avisos;
}

.Ordenes,
.Incidencias,
.Avisos {
  display: flex;
  text-align: center;
  margin-left: 0.2em;
}

.Ordenes span,
.Incidencias span,
.Avisos span {
  display: inline-block;
  margin-top: 0.2em;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

// .container * {
//   border: 1px solid rgb(255, 0, 0);
//   position: relative;
// }

// .container *:after {
//   content: attr(class);
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: grid;
//   align-items: center;
//   justify-content: center;
// }

img {
  max-width: 95%;
  max-height: 95%;
  border-radius: 50%;
}

igx-badge {
  margin: 0.4em;
}
.Ordenes igx-badge {
  background-color: #838383;
  color: white;
}

.Incidencias igx-badge {
  background-color: #800000;
  color: white;
}

.Avisos igx-badge {
  background-color: #ddaa02;
  color: white;
}
