<div class="sample-column card-wrapper">
  <igx-card>
    <div class="container">
      <div class="Nombre">Nombre Máquina 1</div>
      <div class="Descripcion">
        A que Planta pertenece y pequeña descripcion de su cometido.
      </div>
      <div class="Funcionamiento">
        <div>En Funcionamiento</div>
      </div>
      <div class="Foto">
        <img [src]="card.imageUrl" />
      </div>
      <div class="Ordenes">
        <igx-badge value="5"></igx-badge><span>Ordenes</span>
      </div>
      <div class="Incidencias">
        <igx-badge value="1"></igx-badge><span>Incidencias</span>
      </div>
      <div class="Avisos">
        <igx-badge value="3"></igx-badge><span>Avisos</span>
      </div>
    </div>
  </igx-card>
</div>
